
.icon-nurse:before { content: '\e801'; } /* '' */
.icon-cleaning:before { content: '\e802'; } /* '' */
.icon-cooking:before { content: '\e803'; } /* '' */
.icon-safe-hire:before { content: '\e804'; } /* '' */
.icon-adult-care:before { content: '\e805'; } /* '' */